<!--BASKETBALL-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Aloha Sports</title>
  </head>
  <body>
    <h1>Aloha</h1>

    <nav>
      <span>Soccer</span>
        <ul>
          <li>Lionel Andrés Messi</li>
          <li>Cristiano Ronaldo dos Santos Aveiro</li>
          <li>Neymar De Silva Dos Santos Jr.</li>
        </ul>
      <span>Basketball</span>
      <ul>
          <li>Wardell Stephen Curry II</li>
          <li>LeBron Raymone James</li>
          <li>Kevin Wayne Durant</li>
        </ul>
      <span>Football</span>
      <ul>
          <li>Thomas Edward Patrick Brady Jr.</li>
          <li>Cameron Jerrell Newton</li>
          <li>Adrian Lewis Peterson</li>
        </ul>
      <span>UFC (MMA)</span>
      <ul>
          <li>Anderson "The Spider" Silva</li>
          <li>Jon "Bones" Jones</li>
          <li>"The Notorious" Conor McGregor</li>
        </ul>
      <span>Track and Field</span>
      <ul>
          <li>Usain St Leo Bolt OJ</li>
          <li>Allyson Michelle Felix</li>
          <li>Ashton James Eaton</li>
        </ul>
      <span>Tennis</span>
      <ul>
          <li>Roger Federer</li>
          <li>Rafael "Rafa" Nadal Parera</li>
          <li>Novak Djokovic</li>
        </ul>

    </nav>

    <section>Content will go here</section>
  </body>
</html>
