<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/aloha.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="scripts/aloha.js"></script>
    <title>Aloha Sports</title>
  </head>
  <body>
    <h1 class>Aloha</h1>

    <nav>
      <span>Soccer</span>
      <ul>
        <li id="messi">Lionel Andrés Messi</li>
        <li id="ronaldo">Cristiano Ronaldo dos Santos Aveiro</li>
        <li id="neymar">Neymar De Silva Dos Santos Jr.</li>
      </ul>
      <span>Basketball</span>
      <ul>
        <li id="curry">Wardell Stephen Curry II</li>
        <li id="lebron">LeBron Raymone James</li>
        <li id="durant">Kevin Wayne Durant</li>
      </ul>
      <span>Football</span>
      <ul>
        <li id="brady" search="Tom Brady">Thomas Edward Patrick Brady Jr.</li>
        <li id="cam" search="Cam Newton">Cameron Jerrell Newton</li>
        <li id="adrianpeterson" search="Adrian Peterson">Adrian Lewis Peterson</li>
      </ul>
      <span>UFC (MMA)</span>
      <ul>
        <li id="silva" search="Anderson Silva">Anderson "The Spider" Silva</li>
        <li id="bones">Jon "Bones" Jones</li>
        <li id="conor">"The Notorious" Conor McGregor</li>
      </ul>
      <span>Track and Field</span>
      <ul>
        <li id="bolt">Usain St Leo Bolt OJ</li>
        <li search="Felix USA star">Allyson Michelle Felix</li>
        <li search="Eaton USA star">Ashton James Eaton</li>
      </ul>
      <span>Tennis</span>
      <ul>
        <li>Roger Federer</li>
        <li>Rafael "Rafa" Nadal Parera</li>
        <li id='djoko'>Novak Djokovic</li>
      </ul>
    </nav>

    <section id="info">
      <div id='thegif'>
        <img></img>
      </div>
      <section id="images">
      </section>
    </section>

  </body>
</html>
